<div class="panel panel-default">
  <div class="panel-heading"><%= @category.name %></div>
  <div class="panel-body">
  <div class="row">
    <% @category.games.each do |g| %>
        <div class="col-xs-5 col-md-3">
          <div class="thumbnail">
            <%= image_tag(g.image.url,:style => 'width:242px; height:200px') %>
            <div class="caption" style="text-align:center">
              <h3><%= link_to g.title, g %></h3>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      </div>
  </div>
